// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

th{
  padding: 10px 30px 10px;
} 

td{
  padding: 10px 10px 10px;
  font-size: 15px;
}

body{
  padding : 20px 20px;
}